@import '../../styles/variables.scss';

.kendo-table-container {
    height: 100%;
    
    .table-header, .table-footer {
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        display: flex;

        .table-title {
            color: $dark-green;
            font-size: 1.5rem;
        }
    }
    
    .table-header {

        .actions {
            display: flex;

            button {
                border: 1px solid $border-color;
                background-color: #fff;
                padding: 0.5rem 0.75rem;
                margin-right: 0.5rem;

                svg path {
                    stroke: $green;
                }
            }

            .icon-container {
                border: 1px solid $border-color;
                border-radius: $border-radius;
                background-color: inherit;
                // aspect-ratio: 1 / 1;
                padding: 0.5rem;
                margin-right: 0.5rem;

                &:last-child {
                    margin-right: unset;
                }

                i {
                    font-size: 1.4rem;
                    cursor: pointer;
                    color: $green;
                }
            }

            input {
                background-image: url('../../assets/magnifying-glass.png');
                background-position: 0.5rem center;
                background-size: 1.2rem 1.2rem;
                background-repeat: no-repeat;
                padding-left: 2rem;
            }
        }
    }

    .pager {
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        display: flex;
    
        .actions {
            display: flex;
    
            input {
                background-color: #f8f8f8;
                color: $grey-text;
                width: 2rem;
    
                &.left, &.middle {
                    border-bottom-right-radius: unset;
                    border-top-right-radius: unset;
                    border-right: unset;
                    text-align: end;
                }
    
                &.right, &.middle {
                    border-bottom-left-radius: unset;
                    border-top-left-radius: unset;
                    border-left: unset;
                }
    
                &.middle {
                    padding-right: unset;
                    padding-left: unset;
                    text-align: center;
                    width: 0.5rem;
                }
            }
    
            button {
                border: 1px solid $border-color;
                background-color: $white;
                padding: $input-padding;
                justify-content: center;
                margin-right: 0.25rem;
                align-items: center;
                display: flex;
                color: $green;
                
                i {
                    font-size: 1.5rem;
                    padding: 0 0.5rem;
                }

                &[disabled] {
                    cursor: not-allowed;
                    color: $grey-text;
                }
            }
        }
    
        .items-number {
            color: $grey-text;
        }
    }
}

.loading-container {
    background-color: #0000003f;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;

    .loader-icon {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        font-size: 3rem;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
