<div class="kendo-table-container">
    <div class="table-header">
        <div class="table-title">
            <i class="bi bi-journal"></i>
            {{tableName}}
        </div>

        <div class="actions">
            <i class="bi bi-gear-fill icon-box mr-2" (click)="showSettingsModal()"></i>
            
            <i class="bi bi-filetype-csv icon-box mr-2"></i>

            <i class="bi bi-file-earmark-excel icon-box mr-2" (click)="toExcel()"></i>

            <i class="bi bi-funnel-fill icon-box mr-2" (click)="filterToggle()"></i>

            <input type="text" (input)="onFilter($event)">
        </div>
    </div>
    
    <div>
        <kendo-grid
            [kendoGridSelectBy]="kendoGridSelectBy"
            [kendoGridBinding]="gridViewData"
            [data]="originalData.gridData"
            [pageSize]="pageSize"
            [filterable]="filterable"
            [pageable]="{type: 'input'}"
            [sortable]="true"
            [skip]="skip"
        >
        <!-- [height]="700" -->

            <ng-container *ngFor="let col of grigColumns">
                <kendo-grid-column [hidden]="col.hidden" [field]="col.name" [title]="col.title" [width]="220"></kendo-grid-column>
            </ng-container>
        </kendo-grid>
    </div>

    <div class="pager">
        <div class="actions">
            <button (click)="originalData.toFirstPage()" [disabled]="originalData.currentPage < 2"><i class="icon-arrow-left-end"></i></button>
            <button (click)="originalData.previousPage()" [disabled]="originalData.currentPage < 2"><i class="bi bi-arrow-left-short"></i></button>
    
            <div class="d-flex" (click)="focusTo(inp)">
                <input type="text" class="left" [value]="originalData.currentPage" #inp>
                <input type="text" class="middle" value="/" disabled>
                <input type="text" class="right mr-1" [value]="originalData.pageCount" disabled>
            </div>
    
            <button (click)="originalData.nextPage()" [disabled]="originalData.currentPage >= originalData.pageCount"><i class="bi bi-arrow-right-short"></i></button>
            <button (click)="originalData.toLastPage()" [disabled]="originalData.currentPage >= originalData.pageCount"><i class="icon-arrow-left-end rotate-180"></i></button>
        </div>
    
        <div class="items-number">Tételek száma: {{originalData.gridData.total}}</div>
    </div>
</div>

<div class="settings-modal-container" *ngIf="settingsModalIsVisible">
    <div class="settings-modal">
        <div class="setting-modal-header">
            Beállítások
        </div>

        <div class="settings-modal-body">
            <div class="setting-input-container" *ngFor="let col of settingsModalFields">
                <label>{{col.name}}</label>
                <input type="checkbox" [(ngModel)]="col.value">
            </div>
            
            <div class="setting-input-container">
                <label>Megjelenített sorok</label>
                <input type="number" [(ngModel)]="settingsPageSize">
            </div>
        </div>

        <div class="settings-modal-footer">
            <button (click)="hideSettingsModal(false)">Mégsem</button>
            <button (click)="hideSettingsModal(true)">Mentés</button>
        </div>
    </div>
</div>
