.kendo-table-container {
    .table-header, .table-footer {
        justify-content: space-between;
        align-items: center;
        display: flex;
        background-color: #999;
        // padding: 8px 5px 0 30px;
        padding-left: 0.5rem;
        font-size: 13px;
        color: #fff;
        height: 28px;

        .table-title {
            font-size: 1rem;
        }
    }
    
    .table-header {
        // justify-content: space-between;
        // align-items: center;
        // display: flex;

        .actions {
            display: flex;

            .icon-container {
                border-left: 1px solid #f8f8f8 !important;
                padding: 0.2rem 0.4rem;
                height: inherit;

                i {
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                &.search {
                    align-items: center;
                    display: flex;

                    i {
                        padding-right: 0.3rem;
                    }
                }
            }
        }
    }
}

.settings-modal-container {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
   
    .settings-modal {
        .setting-modal-header {
            border-bottom: 1px solid #cdc;
            background-color: #fff;
            padding: 0.5rem 1rem;
        }

        .settings-modal-body {
            border: 1px solid #cdc;
            background-color: #fff;
            padding: 1rem;
            width: 25rem;
            
            .setting-input-container {
                justify-content: space-between;
                padding-bottom: 0.25rem;
                display: flex;
                
                label {
                    font-weight: bolder;
                }
                
                input[type="number"] {
                    text-align: end;
                    width: 3rem;
                }
            }
        }

        .settings-modal-footer {
            border-top: 1px solid #cdc;
            background-color: #fff;
            padding: 0.5rem 1rem;
            justify-content: end;
            display: flex;

            button {
                margin-right: 0.25rem;

                &:last-child {
                    margin-right: unset;
                }
            }
        }
    } 
}
