<nav>
    <div class="nav-left">
        <div class="link-group" *ngFor="let link of links" #element>
            <div class="group-name">{{link.name}}</div>

            <ul class="group-dropdown">
                <li class="link" *ngFor="let sublink of link.links" (click)="navigate(sublink)">
                    {{sublink.name}}
                </li>
            </ul>
        </div>
    </div>

    <div class="nav-right">
        <i class="bi bi-info-circle"></i>
        
        <div class="logo-container">
            <img src="/assets/oecm-logo.svg" alt="logo">
        </div>
    </div>
</nav>
