@import './variables.scss';

button {
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    border: unset;
    color: $white;

    i {
        padding-right: 0.5rem;
    }

    &.green {
        background-color: $green;
        color: $white;

        svg path {
            stroke: $white;
            fill: $white;
        }

        &.hollow {
            border: 1px solid $green;
            background-color: $white;
            color: $green;

            svg path {
                stroke: $green;
                fill: $green;
            }
        }
    }

    &.orange {
        background-color: $orange;
        color: $white;

        svg path {
            stroke: $white;
            fill: $white;
        }

        &.hollow {
            border: 1px solid $orange;
            background-color: $white;
            color: $orange;

            svg path {
                stroke: $orange;
                fill: $orange;
            }
        }
    }

    &.grey {
        background-color: $grey;
        color: $white;

        svg path {
            stroke: $white;
            fill: $white;
        }

        &.hollow {
            background-color: $white;
            border: 1px solid $grey;
            color: $grey;

            svg path {
                stroke: $grey;
                fill: $grey;
            }
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.button-container {
    background-color: #dfdfdf;
    border-radius: 0.25rem;
    padding: 0.75rem;
    display: flex;

    button {
        margin-right: 0.5rem;

        &:last-child {
            margin-right: unset;
        }
    }

    &.end {
        justify-content: end;
    }
}
