@import './variables.scss';

i.icon-box {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $input-padding;
    justify-content: center;
    height: $input-height;
    width: $input-height;
    align-items: center;
    font-size: 1.3rem;
    display: flex;
    color: $green;
}

.rotate-180 {
    transform: rotate(180deg);
}

.text-start {
    text-align: start;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}

.width-fill {
    width: -webkit-fill-available;
}
