.icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 1rem;
    // width: 1rem;
}

.arrow-left-end {
    // background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.9889 6.81234L5.13085 7.66667H6.34169H16C16.0884 7.66667 16.1732 7.70179 16.2357 7.7643C16.2982 7.82681 16.3334 7.91159 16.3334 8C16.3334 8.08841 16.2982 8.17319 16.2357 8.2357C16.1732 8.29821 16.0884 8.33333 16 8.33333H6.34169H5.13085L5.9889 9.18766L7.90557 11.096L7.90625 11.0967C7.9375 11.1277 7.96229 11.1645 7.97922 11.2051C7.99614 11.2458 8.00485 11.2893 8.00485 11.3333C8.00485 11.3773 7.99614 11.4209 7.97922 11.4615C7.96229 11.5021 7.9375 11.539 7.90625 11.57L7.90624 11.57L7.90335 11.5729C7.87236 11.6041 7.8355 11.6289 7.79488 11.6459C7.75426 11.6628 7.71069 11.6715 7.66669 11.6715C7.62268 11.6715 7.57911 11.6628 7.5385 11.6459C7.49788 11.6289 7.46101 11.6041 7.43002 11.5729L7.42857 11.5714L4.09996 8.24284C4.071 8.2118 4.04823 8.17551 4.03287 8.13591L4.03296 8.13588L4.02918 8.12667C3.99584 8.04551 3.99584 7.95449 4.02918 7.87333L4.02927 7.87337L4.03287 7.86409C4.04823 7.82449 4.071 7.7882 4.09997 7.75716L7.42857 4.42855C7.45984 4.39728 7.49697 4.37248 7.53782 4.35556C7.57868 4.33863 7.62247 4.32992 7.66669 4.32992C7.71091 4.32992 7.7547 4.33863 7.79555 4.35556C7.83641 4.37248 7.87353 4.39728 7.9048 4.42855C7.93607 4.45982 7.96088 4.49695 7.9778 4.5378C7.99472 4.57865 8.00343 4.62244 8.00343 4.66667C8.00343 4.71089 7.99472 4.75468 7.9778 4.79553C7.96094 4.83624 7.93625 4.87325 7.90513 4.90445C7.90502 4.90456 7.90491 4.90467 7.9048 4.90478L5.9889 6.81234ZM0.764318 1.09763C0.82683 1.03512 0.911615 1 1.00002 1C1.08843 1 1.17321 1.03512 1.23572 1.09763C1.29823 1.16014 1.33335 1.24493 1.33335 1.33333V14.6667C1.33335 14.7551 1.29823 14.8399 1.23572 14.9024C1.17321 14.9649 1.08843 15 1.00002 15C0.911614 15 0.826829 14.9649 0.764318 14.9024C0.701806 14.8399 0.666687 14.7551 0.666687 14.6667V1.33333C0.666687 1.24493 0.701806 1.16014 0.764318 1.09763Z' fill='%239F9F9F' stroke='%239F9F9F'/%3E%3C/svg%3E%0A");
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.9889 6.81234L5.13085 7.66667H6.34169H16C16.0884 7.66667 16.1732 7.70179 16.2357 7.7643C16.2982 7.82681 16.3334 7.91159 16.3334 8C16.3334 8.08841 16.2982 8.17319 16.2357 8.2357C16.1732 8.29821 16.0884 8.33333 16 8.33333H6.34169H5.13085L5.9889 9.18766L7.90557 11.096L7.90625 11.0967C7.9375 11.1277 7.96229 11.1645 7.97922 11.2051C7.99614 11.2458 8.00485 11.2893 8.00485 11.3333C8.00485 11.3773 7.99614 11.4209 7.97922 11.4615C7.96229 11.5021 7.9375 11.539 7.90625 11.57L7.90624 11.57L7.90335 11.5729C7.87236 11.6041 7.8355 11.6289 7.79488 11.6459C7.75426 11.6628 7.71069 11.6715 7.66669 11.6715C7.62268 11.6715 7.57911 11.6628 7.5385 11.6459C7.49788 11.6289 7.46101 11.6041 7.43002 11.5729L7.42857 11.5714L4.09996 8.24284C4.071 8.2118 4.04823 8.17551 4.03287 8.13591L4.03296 8.13588L4.02918 8.12667C3.99584 8.04551 3.99584 7.95449 4.02918 7.87333L4.02927 7.87337L4.03287 7.86409C4.04823 7.82449 4.071 7.7882 4.09997 7.75716L7.42857 4.42855C7.45984 4.39728 7.49697 4.37248 7.53782 4.35556C7.57868 4.33863 7.62247 4.32992 7.66669 4.32992C7.71091 4.32992 7.7547 4.33863 7.79555 4.35556C7.83641 4.37248 7.87353 4.39728 7.9048 4.42855C7.93607 4.45982 7.96088 4.49695 7.9778 4.5378C7.99472 4.57865 8.00343 4.62244 8.00343 4.66667C8.00343 4.71089 7.99472 4.75468 7.9778 4.79553C7.96094 4.83624 7.93625 4.87325 7.90513 4.90445C7.90502 4.90456 7.90491 4.90467 7.9048 4.90478L5.9889 6.81234ZM0.764318 1.09763C0.82683 1.03512 0.911615 1 1.00002 1C1.08843 1 1.17321 1.03512 1.23572 1.09763C1.29823 1.16014 1.33335 1.24493 1.33335 1.33333V14.6667C1.33335 14.7551 1.29823 14.8399 1.23572 14.9024C1.17321 14.9649 1.08843 15 1.00002 15C0.911614 15 0.826829 14.9649 0.764318 14.9024C0.701806 14.8399 0.666687 14.7551 0.666687 14.6667V1.33333C0.666687 1.24493 0.701806 1.16014 0.764318 1.09763Z' /%3E%3C/svg%3E%0A");
}

// @font-face {
//     font-family: 'icomoon';
//     src:  url('/src/assets/icons/icomoon.eot?eu07yu');
//     src:  url('/src/assets/icons/icomoon.eot?eu07yu#iefix') format('embedded-opentype'),
//       url('/src/assets/icons/icomoon.ttf?eu07yu') format('truetype'),
//       url('/src/assets/icons/icomoon.woff?eu07yu') format('woff'),
//       url('/src/assets/icons/icomoon.svg?eu07yu#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
// }

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/icons/icomoon.eot?eu07yu');
    src:  url('../assets/icons/icomoon.eot?eu07yu#iefix') format('embedded-opentype'),
      url('../assets/icons/icomoon.ttf?eu07yu') format('truetype'),
      url('../assets/icons/icomoon.woff?eu07yu') format('woff'),
      url('../assets/icons/icomoon.svg?eu07yu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-arrow-left-end:before {
    content: "\e900";
}
