$border-color: #dfdfdf;
$dark-green: #075930;
$grey-text: #9f9f9f;
$orange: #e8a21c;
$green: #2db155;
$grey: #dfdfdf;
$red: #ed4035;
$white: #fff;

$border-radius: 0.25rem;
$input-padding: 0.25rem;
$input-height: 2rem;
