$side-padding: 2rem;

.app-container {
    flex-direction: column;
    overflow: auto;
    display: flex;
    height: 100vh;
    width: 100vw;

    .content {
        padding: 1rem $side-padding 0 $side-padding;
        height: -webkit-fill-available;

        app-irszam-jelleg-table {
            display: inline-block;
            height: 100%;
        }
    }

    .footer-container {
        padding: 0 $side-padding;
    }
}
