<app-oecm-table tableid="userrolestable" tablename="Felhasználói szerepek listája" [columns]="columns">
    <div class="button-container">
        <button class="green" (click)="openModal()">Felvétel</button>
        <button class="green" disabled>Tulajdonságok</button>
        <button class="green" (click)="openDeleteModal()">Törlés</button>
        <button class="green" disabled>Export</button>
        <button class="green" disabled>Összes exportx</button>
        <button class="green" disabled>Import</button>
    </div>
</app-oecm-table>
